[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
WorkingDirectory=/data/etcd
ExecStart=/data/k8s/bin/etcd \
  --name=etcd-101 \
  --cert-file=/data/k8s/etc/etcd/ssl/etcd.pem \
  --key-file=/data/k8s/etc/etcd/ssl/etcd-key.pem \
  --peer-cert-file=/data/k8s/etc/etcd/ssl/etcd.pem \
  --peer-key-file=/data/k8s/etc/etcd/ssl/etcd-key.pem \
  --trusted-ca-file=/data/k8s/etc/kubernetes/ssl/ca.pem \
  --peer-trusted-ca-file=/data/k8s/etc/kubernetes/ssl/ca.pem \
  --initial-advertise-peer-urls=https://10.10.20.101:2380 \
  --listen-peer-urls=https://10.10.20.101:2380 \
  --listen-client-urls=https://10.10.20.101:2379,https://127.0.0.1:2379 \
  --advertise-client-urls=https://10.10.20.101:2379 \
  --initial-cluster-token=etcd-cluster-0 \
  --initial-cluster=etcd-101=https://10.10.20.101:2380,etcd-102=https://10.10.20.102:2380,etcd-103=https://10.10.20.103:2380 \
  --initial-cluster-state=new \
  --data-dir=/data/etcd
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
