[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service

[Service]
Type=notify
ExecStart=/data/k8s/bin/flanneld \
  -etcd-cafile=/data/k8s/etc/kubernetes/ssl/ca.pem \
  -etcd-certfile=/data/k8s/etc/flanneld/ssl/flanneld.pem \
  -etcd-keyfile=/data/k8s/etc/flanneld/ssl/flanneld-key.pem \
  -etcd-endpoints=https://10.10.20.101:2379,https://10.10.20.102:2379,https://10.10.20.103:2379 \
  -etcd-prefix=/kubernetes/network \
  -iface=em1
ExecStartPost=/data/k8s/bin/mk-docker-opts.sh -k DOCKER_NETWORK_OPTIONS -d /run/flannel/docker
Restart=on-failure

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
