[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/data/k8s/bin/kube-scheduler \
  --address=127.0.0.1 \
  --master=http://10.10.20.101:8080 \
  --leader-elect=true \
  --v=0
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
